<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0250001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,178}</string>
                <key>spriteSourceSize</key>
                <string>{138,178}</string>
                <key>textureRect</key>
                <string>{{0,0},{138,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0250002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,178}</string>
                <key>spriteSourceSize</key>
                <string>{138,178}</string>
                <key>textureRect</key>
                <string>{{138,0},{138,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0250003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,178}</string>
                <key>spriteSourceSize</key>
                <string>{138,178}</string>
                <key>textureRect</key>
                <string>{{276,0},{138,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0250004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,178}</string>
                <key>spriteSourceSize</key>
                <string>{138,178}</string>
                <key>textureRect</key>
                <string>{{0,178},{138,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0250005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,178}</string>
                <key>spriteSourceSize</key>
                <string>{138,178}</string>
                <key>textureRect</key>
                <string>{{138,178},{138,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0250006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,178}</string>
                <key>spriteSourceSize</key>
                <string>{138,178}</string>
                <key>textureRect</key>
                <string>{{276,178},{138,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0250007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,178}</string>
                <key>spriteSourceSize</key>
                <string>{138,178}</string>
                <key>textureRect</key>
                <string>{{0,356},{138,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0250008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,178}</string>
                <key>spriteSourceSize</key>
                <string>{138,178}</string>
                <key>textureRect</key>
                <string>{{138,356},{138,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0250009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,178}</string>
                <key>spriteSourceSize</key>
                <string>{138,178}</string>
                <key>textureRect</key>
                <string>{{276,356},{138,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0250010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,178}</string>
                <key>spriteSourceSize</key>
                <string>{138,178}</string>
                <key>textureRect</key>
                <string>{{0,534},{138,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0250011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,178}</string>
                <key>spriteSourceSize</key>
                <string>{138,178}</string>
                <key>textureRect</key>
                <string>{{138,534},{138,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0250012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,178}</string>
                <key>spriteSourceSize</key>
                <string>{138,178}</string>
                <key>textureRect</key>
                <string>{{276,534},{138,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0250013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,178}</string>
                <key>spriteSourceSize</key>
                <string>{138,178}</string>
                <key>textureRect</key>
                <string>{{0,712},{138,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0250014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,178}</string>
                <key>spriteSourceSize</key>
                <string>{138,178}</string>
                <key>textureRect</key>
                <string>{{138,712},{138,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0250015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,178}</string>
                <key>spriteSourceSize</key>
                <string>{138,178}</string>
                <key>textureRect</key>
                <string>{{276,712},{138,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0250016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,178}</string>
                <key>spriteSourceSize</key>
                <string>{138,178}</string>
                <key>textureRect</key>
                <string>{{0,890},{138,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0250017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,178}</string>
                <key>spriteSourceSize</key>
                <string>{138,178}</string>
                <key>textureRect</key>
                <string>{{138,890},{138,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0250018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,178}</string>
                <key>spriteSourceSize</key>
                <string>{138,178}</string>
                <key>textureRect</key>
                <string>{{276,890},{138,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0250019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,178}</string>
                <key>spriteSourceSize</key>
                <string>{138,178}</string>
                <key>textureRect</key>
                <string>{{0,1068},{138,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0250020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,178}</string>
                <key>spriteSourceSize</key>
                <string>{138,178}</string>
                <key>textureRect</key>
                <string>{{138,1068},{138,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0250021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,178}</string>
                <key>spriteSourceSize</key>
                <string>{138,178}</string>
                <key>textureRect</key>
                <string>{{276,1068},{138,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gate.png</string>
            <key>size</key>
            <string>{414,1246}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bb49587d62732afcd08622011065b948:8135badd4b9ef42ca206bd725230be55:ba5f6e5480e6cc2c1a0be6c6a623cd17$</string>
            <key>textureFileName</key>
            <string>gate.png</string>
        </dict>
    </dict>
</plist>
